<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include(resolve('@commons/head')) %>
    <title><%= user.nickName %> | Profile</title>
  </head>
  <body>
    <%- include(resolve('@components/header'), { classNames: 'layout-x' }) %>
  </body>
</html>
