<%# header component %>
<header class="header">
	<img src="../public/assets/images/light-icon-text.png" class="page-logo">
	<nav class="nav">
		<button class="button-primary">Ver todos los perfiles</button>
		<img src="../public/assets/images/settings-icon.svg" class="settings-icon">
	</nav>
</header>